* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Entire page styles */
body {
    background-color: #d9dcd6;
}

/* all links on page */
a {
    color: #ffffff;
    text-decoration: none;
}

/* all paragraphs on page */
p {
    font-size: 16px;
}

/* used header tag to replace div.header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* company name in header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* color slightly darkened to enhance contrast */
header h1 .seo {
    color: #b6b9b2;
}

/* Page navigation, used nav tag to replace div.nav */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* list of links within header nav */
header nav ul {
    list-style-type: none;
}

/* individual link within nav list */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* large splash image on landing page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Images floated to left */
img.float-left {
    float: left;
    margin-right: 25px;
}

/* Images floated to right */
img.float-right {
    float: right;
    margin-left: 25px;
}

/* Main page content, .content is now a section tag instead of div */
section.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Cards within main content, cards in the .content section renamed from div.XXX to article.card to condense code, .card related css rules moved up in style.css under their parent */
.card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Images within main content cards */
.card img {
    max-height: 200px;
}

/* Header within main content cards */
.card h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sidebar content, .benefits is now an aside tag instead of div */
aside.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* benefits bg-color darkened to correct insufficient color contrast */
    background-color: #1d72a0;
}

/* all children of benefits renamed to .benefit instead of .benefit-X to condense code */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* header within benefit side bar */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* image within benefit side bar */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* footer tag replaced div.footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Footer header changed to h4 for sequential header decrease */
footer h4 {
    font-size: 20px;
}
